<div class="nav-container">
  <app-header></app-header>
</div>


<div class="scroll-con">
  <div class="about-body-con">
    <h1 class="how-heading">How it Works</h1>
    <div class="hero-img-con">
      <div class="hero-img"></div>
      <!-- <video  autoplay loop>
        <source src="../../../assets/video/Demo.mov" type="video/webm">
      </video> -->
     
    </div>
    <div class="content-overlay">
    <h1 class="about-heading">ABOUT BOX KART</h1>
    <div class="about-con">
      <p class="about">
        Box kart is a kart configurator. You build your kart using the items in
        your inventory. You go to the build section and build your kart, once
        you're happy with the items you have chose you click on the craft button
        and your kart will be added to your kart inventory. You can change the
        karts body, wheels and arials. 
      </p>
    </div>

    <h1 class="about-heading">Things to know</h1>
    <div class="about-con">
      <p class="about">
       Management page is the page you want to go if you want to manage your inventory, adding stock and moving stock. 
       In order to build karts you need to move stock from other countires to your garage. If the stock is not in your 
       Garage you won't be able to build.
      </p>
      <p class="about">
        <br>
        The Builds page is the page to see what you can build. It gives you information about the items you need to craft your
        kart.
       </p>
       <p class="about">
        <br>
        Inventory is an interactive 3d page to view the items that build the karts. Click to rotate and scroll to zoom!
       </p>
       <p class="about">
        <br>
        Finally, the build page is when you craft your karts. The build page is also interactive. Click the view button
        on the cards to view the build.
       </p>
       <p class="about">
        <br>
        Happy Building!
       </p>
    </div>
  </div>


  </div>
</div>
