<div class="nav-container">
  <app-header></app-header>
</div>

<div class="scroll-con">
  <div class="about-body-con">
    <div class="heading-back">
      <h2 class="builds-heading">How it Works</h2>
    </div>

    <div class="top-split">
      <div id="model-con">
        <div class="model-background-img"></div>
        <canvas #canvas id="canvas"> </canvas>
        <div class="img-click"></div>
      </div>
      <div class="about-top-view">
        <h1 class="about-heading">ABOUT BOX KART</h1>
        <div class="about-con">
          <p class="about">
            Box kart is a kart configurator. You build your kart using the items
            in your inventory. You go to the build section and build your kart,
            once you're happy with the items you have chose you click on the
            craft button and your kart will be added to your kart inventory. You
            can change the karts body, wheels and arials.
          </p>
        </div>
        <button (click)="toggleModal()" class="more-info">More information</button>
      </div>
    </div>

    <div *ngIf="showModal" class="more-info-modal">
      <h1 class="about-heading">Things to know</h1>
      <div class="about-con-things">
        <p class="about">
          Management page is the page you want to go if you want to manage your
          inventory, adding stock and moving stock. In order to build karts you
          need to move stock from other countires to your garage. If the stock
          is not in your Garage you won't be able to build.
        </p>
        <p class="about">
          <br />
          The Builds page is the page to see what you can build. It gives you
          information about the items you need to craft your kart.
        </p>
        <p class="about">
          <br />
          Inventory is an interactive 3d page to view the items that build the
          karts. Click to rotate and scroll to zoom!
        </p>
        <p class="about">
          <br />
          Finally, the build page is when you craft your karts. The build page
          is also interactive. Click the view button on the cards to view the
          build.
        </p>
        <p class="about">
          <br />
          Happy Building!
        </p>
        <button (click)="closeModal()"  class="close-more-info">CLose</button>
      </div>

  </div>
</div>
