

.hero-img-con {
  width: 80%;
  height: 55vh;
  /* background-color: #ddfd5c; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: row;
}

video{
  object-fit: cover;
  /* background-color: #ddfd5c; */
  width: 98%; 
  height: 96.5%; 
  position: absolute;
  border-radius: 10px;
  
}

source{
  width: 100%;
  
}

.hero-btn {
  width: 200px;
  height: 60px;
  /* background-color: #ddfd5c; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: "Bungee";
  font-size: 19pt;
  position: absolute;
  left: 50%;
  top: 80%;
  cursor: pointer;
}

.about-con {
  width: 80%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2%;
  margin-bottom: 2%;
  /* background-color: #313131; */
  border-radius: 20px;
  padding: 20px;
}

.about-heading {
  font-family: "Bungee";
  font-size: 24pt;
  color: white;
  margin-top: 80px;
  margin-bottom: 10px;
  text-align: center;
}

.how-heading {
  font-family: "Bungee";
  font-size: 24pt;
  color: white;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.about {
  /* font-family: "Bungee"; */
  font-size: 16pt;
  color: white;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-weight: bold;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.hero-img{
  width: 98.5%;
  height: 97%;
  background-image: url(../../../assets/BuildImages/boxwagon.png);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;

  border-radius: 15px;
  
}

.hero-img-two{
  width: 98.5%;
  height: 97%;
  background-image: url(../../../assets/BuildImages/fridgerecord.png);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;

  border-radius: 15px;
  
}

.content-overlay{
  width: 90%;
  background-color: #2a2a2adf;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
}