<div class="nav-container">
    <app-header></app-header>
  </div>

<div class="item-modal-opacity">
    <!-- <p class="view-item-return">Close</p> -->
    <h2 class="view-item-name">{{name}}</h2>
    <div class="item-con">
        <img class="view-item-img" [src]="image"/>
        <div class="information-con">
            <p class="item-type">Category : {{type}}</p>
            <p class="item-location">Location : {{location}}</p>
            <select aria-placeholder="Change Location">
                <option>Change Location</option>
                <option>South Africa</option>
                <option>Austrailia</option>
                <option>United States</option>
                <option>My Garage</option>
            </select>
            <p class="item-qty">Quantity : 5</p>
            <input type="number" placeholder="qty">
            <div class="save-btn">SAVE</div>
        </div>
    </div>
</div>
