<div class="nav">
<img class="nav-logo" src="../../../assets/Logo.png"/>
<div class="nav-options-con">
    <div [ngClass]="page === 'Home' ? 'nav-link-active' : 'nav-link'"><a  (click)="page = 'Home'"  routerLink="/home">Home</a></div>
    <div  [ngClass]="page === 'Inventory' ? 'nav-link-active' : 'nav-link'"><a  (click)="page = 'Inventory'"  routerLink="/inventory">Manage</a></div>
    <div  [ngClass]="page === 'Builds' ? 'nav-link-active' : 'nav-link'"><a  (click)="page = 'Builds'"  routerLink="/builds">Builds</a></div>
    <div  [ngClass]="page === 'Build' ? 'nav-link-active' : 'nav-link'"><a  (click)="page = 'Build'"  routerLink="/build">Inventory</a></div>
    <div  [ngClass]="page === 'Karts' ? 'nav-link-active' : 'nav-link'"><a  (click)="page = 'Karts'"  routerLink="/karts">Build Karts</a></div>
    <!-- <div  class="nav-link"><a  (click)="page = 'Login'"  routerLink="/login">Login</a></div> -->
    <button  class="nav-link" (click)="logout()">Logout</button>
    <!-- <button  class="nav-link" (click)="test()">Logout</button> -->
</div>
</div>
<!-- <div class="location-extra-con"></div> -->
