<a routerLink="/">Return</a>

<div class="header-con">
  <h1 class="signup-heading">Login</h1>
</div>

<div class="signup-con">
  <!-- <form class="form-con" [formGroup]="newPost" (ngSubmit)="addData()"></form> -->
  <div class="content">
    <form class="form-con">
      <input
        id="username"
        name="username"
        class="inputs"
        placeholder="Username"
        formControlName="username"
      />
      <input
        id="email"
        name="email"
        type="email"
        class="inputs"
        placeholder="Email"
        formControlName="email"
      />
      <input
        id="password"
        type="password"
        name="password"
        class="inputs"
        placeholder="Password"
        formControlName="password"
      />
    </form>

    <div class="btn-con">
        <div class="login-btn">Login</div>
        <div class="signin-btn"><a routerLink="/signup">Create my Account</a></div>
        <!-- <p class="or">OR</p> -->
    </div>
    <!-- <div class="btn-con-login">
        <p class="login-btn">or</p>
        <p class="login-btn">Login</p>
    </div> -->

  </div>
</div>
