<div class="nav-container">
  <app-header></app-header>
</div>

<div class="build-con-pos">
  <div class="build-con">
    <div id="model-con">
      <div class="model-background-img"></div>
      <canvas #canvas id="canvas"> </canvas>
    </div>

    <!-- Build Cards, Need to upload Data  -->

    <div class="item-con">
      <div class="item-card" *ngFor="let build of listOfBuilds">
        <h2 class="item-number">#{{ build.buildNumber }}</h2>
        <h2 class="item-name">{{ build.buildName}}</h2>
        <div class="img-con">
          <img class="item-img" [src]="build.image" />
        </div>
        <!-- <p class="item-type">{{item.type}}</p> -->
        <div class="card-infos-con" *ngFor="let part of build.parts">
          <div class="card-info-con" >
            <p class="needed-parts">Need {{part.amountNeeded}} {{part.partId.name}}'s </p>
            <p> {{part.partId.qtyGarage}} {{part.partId.name}}'s' available</p>
          </div>
        </div>
    

          <div class="item-btn-con">
            <!-- <div  class="item-btn-use" (click)="craftKart(build._id!)"> -->
              <p class="amount-builds">Builds | {{build.amount}}</p>
              <button *ngIf="build.craftable" class="item-btn-use" (click)="buildKart(build._id!)" >
                <p class="view-btn">Build</p>
              </button>
              <button class="item-btn-view" (click)="viewModel(build.buildModel)" >
                <p class="view-btn">View Kart</p>
              </button>
          </div>
        </div>
      </div>



  </div>
</div>

<!-- <div class="build-filter">
  <div [ngClass]="filter === 'Builds' ? 'build-btn-active' : 'build-filter-wheels-btn'" (click)="filter = 'Builds'"><p>Builds</p></div>
  <div [ngClass]="filter === 'Craft' ? 'build-btn-active' : 'build-filter-body-btn'" (click)="filter = 'Craft'"><p>Craft</p></div>
</div> -->

