<a routerLink="/">Return</a>

<div class="header-con">
  <h1 class="signup-heading">Signup</h1>
</div>

<div class="signup-con">
  <!-- <form class="form-con" [formGroup]="newPost" (ngSubmit)="addData()"></form> -->
  <div class="content">
    <form class="form-con" [formGroup]="newUser" (ngSubmit)="addUser()">
      <input
        id="username"
        name="username"
        class="inputs"
        placeholder="Username"
        formControlName="username"
      />
      <input
        id="name"
        name="name"
        class="inputs"
        placeholder="Name"
        formControlName="name"
      />
      <input
        id="surname"
        name="surname"
        class="inputs"
        placeholder="Surname"
        formControlName="surname"
      />
      <input
        id="email"
        name="email"
        class="inputs"
        placeholder="Email"
        formControlName="email"
      />
      <input
        id="password"
        name="password"
        class="inputs"
        placeholder="Password"
        formControlName="password"
      />
      <div class="btn-con">
        <input class="signin-btn" type="submit" value="Create my Account" />
        <div class="login-btn"><a routerLink="/">I Have an Account</a></div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="statusCheck === 'confirmed'" class="confirmation">
  <p class="allsetheading">You're all set!</p>
  <div class="continue-btn"><a routerLink="/">Login</a></div>
</div>
