.scroll-con {
  width: 95%;
  height: 66vh;
  /* background-color: rgb(32, 32, 32); */
  overflow: scroll;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  padding: 1%;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1%;
  /* display: inline-flex; */
  flex-wrap: wrap;
  margin-top: 1%;
}

.scroll-con::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.inventory-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Bungee";
  font-size: 15pt;
  cursor: pointer;
  /* margin-top: 1vh; */
  /* margin-bottom: 3vh; */
  /* margin-right: 20px; */
}

.inventory-filter {
  width: 50%;
  height: 50px;
  background-color: rgba(71, 71, 71, 0.623);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 3%;
  margin-top: 3vh;
  margin-bottom: 8vh;
  border-radius: 10px;
}

.inventory-filter-all-btn {
  /* width: 20%; */
  flex: 1;
  height: 100%;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Bungee";
  font-size: 13pt;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.filter-active-all {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bungee";
  font-size: 13pt;
  background-color: #ddfd5c;
  color: black;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.inventory-filter-all-btn:hover {
  /* border-bottom: solid 3px #ddfd5c; */
  background-color: #ddfd5c;
  color: black;
  cursor: pointer;
}

.inventory-filter-body-btn {
  /* width: 20%; */
  flex: 1;
  height: 100%;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Bungee";
  font-size: 13pt;
}

.inventory-filter-body-btn:hover {
  background-color: #ddfd5c;
  color: black;
  cursor: pointer;
}

.inventory-filter-wheels-btn {
  /* width: 20%; */
  flex: 1;
  height: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Bungee";
  font-size: 13pt;
}

.inventory-filter-wheels-btn:hover {
  background-color: #ddfd5c;
  color: black;
  cursor: pointer;
}

.inventory-filter-arials-btn {
  /* width: 20%; */
  flex: 1;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Bungee";
  font-size: 13pt;
  /* border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; */
}

.filter-active-arials {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bungee";
  font-size: 13pt;
  background-color: #ddfd5c;
  color: black;
  cursor: pointer;
  /* border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; */
}

.inventory-filter-arials-btn:hover {
  background-color: #ddfd5c;
  color: black;
  cursor: pointer;
}

.inventory-filter-location-btn {
  /* width: 20%; */
  flex: 1;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Bungee";
  font-size: 13pt;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.filter-active-location {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bungee";
  font-size: 13pt;
  background-color: #ddfd5c;
  color: black;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.inventory-filter-location-btn:hover {
  background-color: #ddfd5c;
  color: black;
  cursor: pointer;
}

.filter-active {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bungee";
  font-size: 13pt;
  background-color: #ddfd5c;
  color: black;
  cursor: pointer;
}

.item-card {
  width: 18%;
  height: 340px;
  background-color: white;
  margin-bottom: 8px;
  /* flex: 5; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 20px;
  position: relative;
  /* margin-right: 1%; */
}

.item-name {
  color: black;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
  font-family: "Bungee";
  font-size: 14pt;
}

.img-con {
  width: 85%;
  height: 60%;
  border-radius: 10px;
  margin-bottom: 3%;
  margin-top: 5%;
  /* border: solid black 5px; */
  position: relative;
  /* background-color: #ffffff; */
}

.img-con p {
  position: absolute;
  top: 10px;
  right: 0;
  left: 90%;
  font-family: "Bungee";
}

.item-img {
  width: 100%;
  height: 100%;
  /* background-color: #ffffff; */
  border-radius: 10px;
}

.item-btn-con {
  width: 85%;
  height: 10%;
  background-color: black;
  /* border: solid black 5px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
}

.view-btn {
  font-family: "Bungee";
  font-size: 11pt;
}

.item-btn-con:hover {
  color: white;
  background-color: black;
}

.item-btn-con:hover a {
  color: white;
  background-color: black;
}

a {
  text-decoration: none;
  /* color: ; */
  color: white;
}

.inventory-heading-con {
  /* background-color: black; */
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  gap: 50px;
  transform: translateX(-50%);
  margin-top: 5vh;
}

.inventory-heading-active {
  border-bottom: solid 3px white;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: green; */
  padding: 0%;
  align-items: center;
  width: 100%;
}

.deactivated {
  display: none;
}

.item-text {
  color: black;
  text-align: center;
  /* margin-top: 5%; */
  margin-bottom: 5%;
  font-family: "Bungee";
  font-size: 14pt;
}

.item-text-edit {
  color: black;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: "Bungee";
  font-size: 14pt;
}

.info {
  width: 100%;
  height: 50%;
  /* background-color: blue; */
  margin: 0%;
  padding: 0%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.edit-con {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  background-color: #ddfd5c;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  width: 80%;
  height: 100%;
  text-align: center;
}

select {
  width: 95%;
  height: 15%;
}

.change-btn {
  width: 48%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Bungee";
}

.cancel-btn {
  width: 48%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Bungee";
}

.qty-con {
  width: 95%;
  height: 15%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  justify-content: space-between;
  align-items: center;
}

.item-text-qty {
  color: black;
  text-align: center;
  font-family: "Bungee";
  font-size: 14pt;
  margin-left: 5%;
}

.btn-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 15%;
  margin-top: 5%;
}

.heading-back {
  background-color: #ddfd5c;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

.builds-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: "Bungee";
  font-size: 25pt;
  cursor: pointer;
}
