<!-- <app-item></app-item> -->

<div class="nav-container">
  <app-header></app-header>
</div>

<div class="heading-back">
  <h2 class="builds-heading">My Inventory</h2>
</div>
<div class="scroll-con">
  <!-- <app-item-card></app-item-card> -->

  <div class="item-card" *ngFor="let item of Items; let i = index">
    <div class="img-con">
      <!-- <p>{{item.qty}}</p> -->
      <img class="item-img" [src]="item.img" />
    </div>
    <h2 class="item-name">{{ item.name }} {{ item.type }}</h2>

    <div class="item-btn-con">
      <p class="view-btn">
        <a
          routerLink="/item"
          [queryParams]="{
            id: item._id,
            type: item.type,
            name: item.name,
            image: item.img,
            qtySA: item.qtySA,
            qtyUSA: item.qtyUSA,
            qtyAus: item.qtyAus,
            qtyGarage: item.qtyGarage
          }"
          >View</a
        >
      </p>
    </div>

    <!-- <div class="card-info">
                <div class="info">
                  <p class="item-text-heading">Name</p>
                <h2 class="item-text">{{item.name}}</h2>
                <p class="item-text-heading">Location</p>
                <h2 class="item-text">{{item.location}}</h2>
                <p class="item-text-heading">Type</p>
                <h2 class="item-text">{{item.type}}</h2>
              </div>
              <div class="edit-con">
                <h2 class="item-text-edit">Edit</h2>

                <div class="qty-con">
                  <h2 class="item-text-qty">{{item.qty}}</h2>
                  <input class="input" placeholder="Quantity" type="number">
                </div>

                <select>
                  <option>South Africa</option>
                  <option>Austrailia</option>
                  <option>USA</option>
                </select>
                <div class="btn-con">
                  <div class="change-btn">
                    <p>Update</p>
                  </div>
                  <div class="cancel-btn">
                    <p>Cancel</p>
                  </div>
                </div>
               
              </div>
              </div> -->
  </div>
</div>
